*, *:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

body{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; 
  background: -webkit-linear-gradient(right,#FFDA60,#FFC300);
  font-family: 'Source Sans Pro', sans-serif;
  min-height: 100%;
}
.nav{
  position: relative;
}

input{
  border:none;
  outline: none;

}
button{
  border:none;
  outline: none;
  background: none;
}
.formAll{
  display: flex;
  align-items: center; 
  justify-content: center;
  height: 50vh;
  margin-bottom: 10px;
  margin-top: 60px;

}
.cont{
  overflow: hidden;
  position: relative;
  width: 900px;
  min-height: 480px;
  display: flex;
  background: #fff;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 30px;
  margin-bottom: 10px;
 /* z-index: 6; */
}


.form{
  position: relative;
  width: 640px;
  height: 100%;
  padding: 50px 30px;
 }

h2{
  width: 100%;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}

label{
  display: block;
  width: 260px;
  margin: 25px auto 0;
  text-align: left;
}

label span{
  font-size: 14px;
  font-weight: 600;
  color: #505f75;
  text-transform: uppercase;
}

input{
  display: block;
  width: 100%;
  margin-top: 5px;
  padding: 12px 20px;
  font-size: 16px;
  padding-bottom: px;
  border: 0.9px solid rgba(0, 0, 0, 0.493) ;
  border-radius: 30px ;
  text-align: left;
  font-family: 'Source Sans Pro', sans-serif; 
  outline: none;
}


button{
  display: block;
  margin: 0 auto;
  width: 260px;
  height: 36px;
  border-radius: 30px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

.submit{
  margin-top: 40px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Source Sans Pro', sans-serif;
  background: -webkit-linear-gradient(right,#FFDA60,#FFC300);
  
}

.submit:hover{
  background: -webkit-linear-gradient(right, #FFC300, #FFDA60);
}
.forgot-pass:hover{
  color: #ffc400ab;
}
.forgot-pass{
  margin-top: -20px;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  color: #0c0101;
  cursor: pointer;
}



.sub-cont{
  overflow: hidden;
  position: absolute;
  left: 600px;
  top: 0;
  width: 1000px;
  height: 100%;
  padding-left: 260px;
  background: #fff;
}


.img{
  overflow: hidden;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  
  width: 300px;
  height: 100%;
  padding-top: 280px;
  background-image: url(images/bg4.jpg);
  background-size: cover;
  
}


.img-text{
  z-index: 2;
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  padding: 0 20px;
  text-align: center;
  color: #fff;
  }

.img-text h2{
  margin-bottom: 10px;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 20px;

}

.img-text p{
  font-size: 14px;
  line-height: 1.5;
}



.img-btn{
  overflow: hidden;
  z-index: 2;
  position: relative;
  width: 100px;
  height: 36px;
  margin: 0 auto;
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
  
}

.img-btn:after{
  content: '';
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 30px;
}

.img-btn span{
  position: absolute;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack:center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 3;
  color: #fff;
 }
 
.nav{position: relative;}

input:focus, input:valid , input:invalid{
  border-color: #FFDA60;
}
input :empty {border: 0.9px solid rgba(0, 0, 0, 0.493) ;}
