*, *:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    background: -webkit-linear-gradient(right,#FFDA60,#FFC300);
    font-family: 'Source Sans Pro', sans-serif;
    min-height: 100%;
  }
  .formAll{
    display: flex;
    align-items: center; 
    justify-content: center;
    height: 50vh;
    margin-bottom: 10px;
    margin-top: 100px;
  
  }

  .contact-form{
    width: 100%;
    min-width: 980px;
    background: #f1f1f1;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 30px 40px;

    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 20px #000000b3;
    font-family: "Montserrat",sans-serif;
    max-height: 200px;
    padding-bottom: 450px;
    z-index: 6;
  }
  .contact-form h1{
    margin-top: 0;
    font-weight: 200;
  }
  .txtb{
    border:1px solid gray;
    margin: 8px 0;
    padding: 12px 18px;
    border-radius: 8px;
    max-width: 980px;
    max-height: 120px;
  }
  .txtb label{
    display: block;
    text-align: left;
    color: #333;
    text-transform: uppercase;
    font-size: 14px;
  }
  .txtb input,.txtb textarea{
    width: 100%;
    border: none;
    background: none;
    outline: none;
    font-size: 18px;
    margin-top: 6px;
  }
  .btn{

    background: #FFC300;
    padding: 14px 0;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 8px;
    width: 100%;
    border: none;
  }
  
  label{
    font-size: 14px;
    font-weight: 600;
    color: #181616;
    text-transform: uppercase;
    padding-right: 800px
  }
  #msg{
    padding-right: 780px
  }
  textarea{
    font-size: 10px;
    font-weight: 200px;
  }