
  body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    background: -webkit-linear-gradient(right,#FFDA60,#FFC300);
    font-family: 'Source Sans Pro', sans-serif;
    min-height: 100%;
  }
  .AllCard {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    list-style: none;
    align-items: center; 
    width: 100%;
    margin-bottom: 100px;
    margin-top: 100px;
    z-index: 6;
  }
  
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    background: white;
    color: currentColor;
    text-decoration: none;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, .1);
    border-radius: 15px;
    margin-bottom: 100px;
  }
    .card__head {
      position: relative;
      padding-top: 70%;
    }
    
    .card__car {
      position: absolute;
      padding: 2em;
      left: 0;
      bottom: 0;
      color: black;
    }
    
    .card__image {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-size: cover;
      background-position: center;
      /* background-image: url('https://images.unsplash.com/photo-1553787762-b5f5721f3270?ixlib=rb-1.2.1&auto=format&fit=crop&w=2100&q=80'); */
      transform-origin: top center;
      border-bottom: rgba(0, 0, 0, .1);
    }
    .card__body{
      border-top: black;
      z-index: 3;
    }
    
    .card__headline {
      font-weight: 400;
      margin: 0 0 .8em;
      padding-left: 10px;
    }
    
    .card__text  {
      line-height: 1.5;
      margin: 0;
      opacity: .8;
      padding-left: 10px;
    }
    #detalisL{
      display: inline;
      float: Left;
    list-style-type:none;
    padding-left: 30px;
    padding-left: 30px;
    }

    #DetailsR{
      display: inline;
      float: Right;
    list-style-type:none;
    padding-left: 30px;
    padding-right: 150px;
    }
  
    .card__foot {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0 2em 2em;
      opacity: 0;
      transition-property: opacity;
    }

    .card__link {
      color: currentColor;
      text-decoration: none;
      border-bottom: 2px solid #b5272d;
    }
  
    .card__border {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 6px;
      background: #b5272d;
      transform: scaleY(0);
      transition-property: transform;
    }
  
  
  
  
  .car {
  
    display: flex;
    align-items: center;
  }
    .car__image {
      flex-shrink: 0;
      margin-right: 1em;
      width: 56px;
      height: 56px;
      border-radius: 100%;
      overflow: hidden;
    }
  
    .car__content {
      display: grid;
      grid-gap: .4em;
      font-size: .9em;
    }
  
    .car__header {
      margin: 0;
      font-weight: 600;
    }
  
    .car__subheader {
      margin: 0;
      opacity: .8;
    }
  